
Django==2.2.5
django-heroku
dj-database-url>=0.5.0
whitenoise==5.2.0
psycopg2==2.9.1
tzdata==2021.5
asgiref<4,>=3.4.1
sqlparse>=0.2.2
backports.zoneinfo
requests
gunicorn
urllib3
django-heroku
django-import-export==2.5.0